@import "./reset";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$indigo: #4B0082;
$light-gray: #ededf5;
$gray: #4B0082;
$salmon: #FA8072;
$fonts: 'Playfair Display', serif;

body {
  font-family: $fonts;
  color: $gray;
  margin: 5px;
  background-color: #9CD9CB;
  overflow: hidden;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }

a {
  text-decoration: none;
  color: $gray;
}

main {
  display: flex;
  justify-content: space-between;
  .text-submission {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin-right: 20px;
    height: 100vh;
    h2 {
      margin-bottom: 10px;
        color: $indigo;
      span {
      color: $salmon;
      }
    }
    textarea {
      resize: none;
      border: 2px solid $light-gray;
      border-radius: 3px;
      width: 100%;
      height: 80vh;
      font-family: $fonts;
      font-size: 18px;
    }
    button {
      border: none;
      color: $light-gray;
      width: 205px;
      font-family: $fonts;
      border-radius: 3px;
      padding: .8em 3em;
      font-size: 1.1em;
      margin-top: 10px;
      transition: 300ms;
      background-color: $salmon;
      &:hover, &:focus {
        transition: 300ms;
        cursor: pointer;
        background-color: $indigo;
      }
    }
  }
  .word-data {
    width: 65%;
    background-color: #FFC29A;
    .top-word {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 2px solid $indigo;
      height: 8vh;
      color: $salmon;
      padding: 10px;
    }
    .word-count {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      padding: 5px;
      overflow-y: scroll;
      overflow-x: scroll;
      height: 80vh;
      p {
        margin-right: 10px;
        span {
          display: none;
        }
      }
    }
    .words-footer {
      // bottom: 0px;
      // margin-bottom: 0px;
      height: 50px;
      background: white;
      h4 {
        color: #9CD9CB;
        padding: 15px;
      }
    }
  }
}
